<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf</title>
    <%= stylesheet 'pure', 'grids-responsive', 'crossbeams-layout' %>
  </head>
  <body>
    <%= yield %>
    <%= javascript 'crossbeams-layout', 'ag-grid-enterprise.min', 'ag-enterprise-activation', 'crossbeams-grid-loader' %>
  </body>
</html>

