<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf</title>
    <%= stylesheet 'pure', 'grids-responsive', 'jmt_layout' %>
  </head>
  <body>
    <%= yield %>
    <%= javascript 'jmt_layout', 'ag-grid-enterprise.min', 'jmt-grid-loader' %>
  </body>
</html>

